<!DOCTYPE html>
<html>

<head>
    <title>Tracker</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div id="root"></div>
</body>

</html>